@import url('https://fonts.googleapis.com/css2?family=Epilogue:wght@500;700&family=Plus+Jakarta+Sans&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --almost-white: hsl(0, 0%, 98%);
    --medium-gray: hsl(0, 0%, 41%);
    --almost-black: hsl(0, 0%, 8%);
    --purple: hsl(277, 42%, 51%);
    --violet: hsl(243, 79%, 68%);
    --light-violet: hsl(277, 33%, 73%);
    --dark-violet: hsl(252, 23%, 17%);
    --turquoise: hsl(197, 66%, 57%);
    --yellow: hsl(50, 100%, 83%);
}

html {
    --r1440: calc((1440 / var(--base) * 1rem));
    --r220: calc((220 / var(--base) * 1rem));
    --r200: calc((200 / var(--base) * 1rem));
    --r180: calc((180 / var(--base) * 1rem));
    --r150: calc((150 / var(--base) * 1rem));
    --r108: calc((108 / var(--base) * 1rem));
    --r84: calc((84 / var(--base) * 1rem));
    --r50: calc((50 / var(--base) * 1rem));
    --r42: calc((42 / var(--base) * 1rem));
    --r36: calc((36 / var(--base) * 1rem));
    --r28: calc((28 / var(--base) * 1rem));
    --r26: calc((26 / var(--base) * 1rem));
    --r20: calc((20 / var(--base) * 1rem));
    --r18: calc((18 / var(--base) * 1rem));
    --r14: calc((14 / var(--base) * 1rem));
    --r12: calc((12 / var(--base) * 1rem));
    --r10: calc((10 / var(--base) * 1rem));
    --base: 16;
}

/* --------------- Overall structure ---------------- */
body, main {
    display: grid;
    place-items: center;
}

body {
    background-color: hsl(0, 0%, 98%);
    box-sizing: border-box;
    font-family: 'Epilogue', sans-serif;
    height: 100vh;
    padding: 0.5rem;
}

main {
    background-image: url(../images/mesh-gradient2.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    border-radius: 1.5rem;
    box-sizing: border-box;
    width: 100%;
    height: 100%;
    padding: 1rem;
}

nav {
    width: 100%;
    margin-bottom: 1rem;
}

/* ----------- Bootstrap navbar and toggle ------------ */
/* ------- overriding bootstrap default values -------- */
nav .container-fluid {
    padding: 0;
    margin: 0;
}

#logo,
.navbar-toggler {
    filter: invert(40%) sepia(58%) saturate(6167%) hue-rotate(249deg) brightness(77%) contrast(81%);
}

#logo {
    padding-left: 0.5rem;
    width: 5.5rem;
}

.navbar-toggler {
    border: 2px solid;
    margin-top: -0.5rem;
}

.offcanvas {
    background-image: url(../images/mesh-gradient2.png);
    background-repeat: no-repeat;
    background-size: cover;
}

.offcanvas.offcanvas-end {
    width: 65%;
}

.offcanvas-header,
.offcanvas-body {
    padding: 1.5rem 1.5rem 1.5rem 1rem;
}

.offcanvas-header .btn-close {
    width: 1.5rem;
    height: 1.5rem;
    padding: 0;
    margin: 0;
}

.navbar-expand-lg .navbar-nav .nav-link {
    padding: 1rem 1.5rem;
}

.nav-link {
    color: var(--purple);
    padding: 1rem 2rem;
}

.nav-link:hover,
.navbar-nav .nav-link.show {
    color: var(--violet);
}

.dropdown-menu {
    background-color: hsl(217, 100%, 92%);
    border: none;
    width: 10rem;
    margin-left: 2rem;
    box-shadow: 0 0 10px hsl(0, 0%, 41%);
}

.dropdown-menu li{ 
    display: grid;
    place-items: center;
    grid-template-columns: var(--r20) 1fr;
    gap: 2px;
    padding-left: 1rem;
}

.dropdown-item { 
    color: var(--medium-gray);
    font-size: 1rem;
    padding: 0.5rem 0 0.5rem var(--r14);
}

.dropdown-item:hover {
    background-color: transparent;
    color: var(--purple);
}

.nav-link.btn {
    border: 2px solid var(--almost-white);
    border-radius: var(--r14);
    padding: 0.8rem 1.8rem 0.6rem 2rem;
    transition: all 0.4s ease-in;
}

.nav-link.btn:hover {
    background: -webkit-linear-gradient(45deg, var(--purple) 0%, var(--violet) 50%);
    border: 2px solid transparent;
    color: var(--almost-white);
}

/* ----------------- Main container ---------------- */
.main-container {
    box-sizing: border-box;
    text-align: center;
}

.hero-img-container {
    display: grid;
    place-items: center;
    grid-template-columns: 1fr 1fr;
    gap: 1.5rem;
    margin-top: 2rem;
}

.hero-grp-1,
.hero-grp-2 {
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
}

.hero-d {
    border-radius: 1rem;
    width: 100%;
    aspect-ratio: 1/1;
    object-fit: cover;
}

#hero-5 {
    visibility: hidden;
}

.main-details h1 {
    background: -webkit-linear-gradient(45deg, var(--purple) 0%, var(--violet) 75%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-size: 3rem;
    font-weight: 700;
    line-height: 3.5rem;
    letter-spacing: -0.5px;
    margin-bottom: 1rem;
}

.main-details p {
    color: var(--purple);
    font-size: 1rem;
    line-height: var(--r26);
    padding: 0 1rem;
    margin-bottom: 1.5rem;
}

.main-details .btn {
    background: -webkit-linear-gradient(45deg, var(--purple) 0%, var(--violet) 75%);
    border: none;
    border-radius: var(--r14);
    color: var(--almost-white);
    font-weight: 700;
    font-size: 1rem;
    font-family: inherit;
    line-height: var(--r26);
    letter-spacing: -0.26px;
    padding: var(--r12) 1.5rem var(--r10) 1.5rem;
    margin-bottom: 3rem;
    transition: all 0.3s ease;
}

.main-details .btn:hover {
    outline: 2px solid var(--purple);
    outline-offset: 3px;
    scale: 0.9;
}

.client-icons {
    filter: invert(55%) sepia(58%) saturate(6167%) hue-rotate(249deg) brightness(77%) contrast(81%);
    display: flex;
    align-items: center;
    justify-content: space-around;
    margin-bottom: 2rem;
    width: 100%;
}

#databiz-icon,
#meet-icon {
    height: var(--r14);
}

#audiophile-icon {
    height: var(--r26);
}

#maker-icon {
    height: var(--r18);
}

/* .attribution {
    font-size: 11px;
    text-align: center;
}

.attribution a {
    color: hsl(228, 45%, 44%);
} */