@media screen and (min-width: 601px) and (max-width: 1000px) {
    body {
        height: 100vh;
        padding: 1rem;
    }

    main {
        padding: 1.5rem;
    }

    .hero-m {
        margin-bottom: var(--r108);
    }

    .main-details h1 {
        font-size: 4rem;
        line-height: 5rem;
        letter-spacing: 0;
        margin-bottom: 1.5rem;
    }
    
    .main-details p {
        font-size: 1.5rem;
        line-height: 2.5rem;
        padding: 0 3rem;
        margin-bottom: 3rem;
    }

    .main-details .btn {
        font-size: 1.5rem;
        line-height: 2.5rem;
        letter-spacing: 0;
        padding: 1rem 2.5rem var(--r14) 2.5rem;
        margin-bottom: 4rem;
    }

    #databiz-icon,
    #meet-icon {
        height: 1.5rem;
    }

    #audiophile-icon {
        height: 2.5rem;
    }

    #maker-icon {
        height: 2rem;
    }
}

@media screen and (min-width: 1001px) and (max-width: 1280px) {
    body {
        height: 100vh;
        padding: 1rem;
    }

    main {
        border-radius: 2rem;
        
    }

    header { /*Refer to navbar.css for navbar styles*/
        height: auto;
        margin-bottom: 0;
    }

    .main-container {
        display: flex;
        flex-direction: row-reverse;
        align-items: center;
        justify-content: space-between;
        padding: 1.5rem 5rem;
        text-align: left;
        width: 100%;
    }

    .hero-m {
        display: none;
    }

    .hero-d {
        display: block;
        height: 34rem;
    }

    .main-details {
        box-sizing: border-box;
        padding: 0 var(--r84) 0 0;
    }

    .main-details h1 {
        font-size: 4rem;
        line-height: 4rem;
        letter-spacing: -1.11px;
        margin-bottom: 1.5rem;
    }

    .main-details p {
        font-size: 1rem;
        line-height: 1.5rem;
        margin-bottom: 2.5rem;
    }

    .main-details .btn {
        font-size: var(--r18);
        line-height: var(--r28);
        letter-spacing: -0.25px;
        padding: var(--r12) 2rem;
        margin-bottom: 3rem;
    }

    .client-icons {
        justify-content: space-between;
        margin-bottom: 0;
    }

    #databiz-icon,
    #meet-icon {
        height: var(--r18);
    }

    #audiophile-icon {
        height: 2rem;
    }

    #maker-icon {
        height: var(--r20);
    }
}


@media screen and (min-width: 1281px) {
    body {
        height: 100vh;
        padding: 1rem;
    }

    main {
        border-radius: 2rem;
    }

    header { /*Refer to navbar.css for navbar styles*/
        height: auto;
        margin-bottom: 0;
    }

    .main-container {
        display: flex;
        flex-direction: row-reverse;
        align-items: center;
        justify-content: space-between;
        padding: 1.5rem calc((100vw - var(--r1440)) / 2);
        text-align: left;
        width: 100%;
    }

    .hero-m {
        display: none;
    }

    .hero-d {
        display: block;
        height: 47rem;
    }

    .main-details {
        box-sizing: border-box;
        padding: 0 10rem 0 2rem;
    }

    .main-details h1 {
        font-size: 5rem;
        line-height: 5.5rem;
        letter-spacing: -1.11px;
        margin-bottom: var(--r28);
    }

    .main-details p {
        font-size: var(--r18);
        line-height: var(--r26);
        margin-bottom: var(--r50);
    }

    .main-details .btn {
        font-size: var(--r20);
        line-height: var(--r28);
        letter-spacing: 0;
        padding: 1rem 2rem;
        margin-bottom: 6.5rem;
    }

    .client-icons {
        justify-content: space-between;
        margin-bottom: 0;
        width: 90%;
    }

    #databiz-icon,
    #meet-icon {
        height: var(--r20);
    }

    #audiophile-icon {
        height: var(--r36);
    }

    #maker-icon {
        height: 1.5rem;
    }
}
